<h1>Edit Discount</h1>

<%=  render partial: 'form', locals: {
                                      path: merchant_discount_path,
                                      method: :patch,
                                      button_text: "Edit Discount"
                                    } %>
